# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

### Instructions

1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

2. Find  all of the categorical data.  Save it in a categorical_df variable.

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
categorical_df = customer_df.select_dtypes(object)
categorical_df.head(3)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize

3. Check for NaN values.

In [3]:
categorical_df.isnull().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

4. Check all unique values of columns.

In [4]:
categorical_df = categorical_df.drop('Customer', axis=1)

for column in categorical_df.columns:
    display(categorical_df[column].value_counts())

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

No     7826
Yes    1308
Name: Response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

F    4658
M    4476
Name: Gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

5. Check dtypes. Do they all make sense as categorical data?

In [5]:
categorical_df.dtypes

State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

All data types are defined as objects as it should be for categorical features

6. Does any column contain alpha and numeric data?  Decide how to clean it.

In [6]:
categorical_df['Effective To Date'] = pd.to_datetime(categorical_df['Effective To Date'])

We don't have any alfa numerical columns per se, but we have 'Effective to date' column, and for it to be meaningfull we have to extract some usefull information from it

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions.

In [7]:
categorical_df['Effective To Date'] = categorical_df['Effective To Date'].dt.month_name(locale="English")
categorical_df.head(3)

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,February,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,January,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,February,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize

To make the 'Effective To Date' column a usefull one I've decided to extract just the month since the year is the same in every row and the days are irrelevant as they act like uniques, one could say we can perhaps group them in groups of 15 days. I won't do it as I don't find it relevant.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?

In [8]:
categorical_df.Policy = categorical_df.Policy.str.replace("\w* ",' ')

If we look with care to these two columns we can see that the first part of all policis correspond to the policy type, so with the above code we simply drop the part on Policy that's redundant. With this after encoding we will end up with just 4 columns in total, when before there would be 10. We save 6 columns and get the exact same information.

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

In [9]:
categorical_df['Vehicle Class'] = np.where(categorical_df['Vehicle Class'].isin(['Sports Car', 'Luxury SUV']), 'Luxury Car', categorical_df['Vehicle Class'])

In [10]:
categorical_df['Vehicle Class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury Car        831
Name: Vehicle Class, dtype: int64

I decided to group Sports Car, Luxury SUV and Luxury Car. All with the Luxury Car label since they are not that much and in fact are only subclasses of Luxury cars.

# Final dataset

In [11]:
categorical_df.head(3)

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,February,Employed,F,Suburban,Married,Corporate Auto,L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,January,Unemployed,F,Suburban,Single,Personal Auto,L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,February,Employed,F,Suburban,Married,Personal Auto,L3,Offer1,Agent,Two-Door Car,Medsize

In [14]:
!git push

remote: Permission to erin-berardi/lab-cleaning-categorical-data.git denied to Simao-Lopes.
fatal: unable to access 'https://github.com/erin-berardi/lab-cleaning-categorical-data.git/': The requested URL returned error: 403